<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vedjiz</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{ product.name }}</h3>
  <img class="veggieImageDetails" src="{{ product.picture }}" /><br />

  <form [formGroup]="productForm">
    <ion-label stacked>Prix</ion-label>
    <ion-input formControlName="price" type="number" step="0.01"></ion-input>
  
    <ion-label stacked>Unité</ion-label>
    <ion-input formControlName="unit" type="text" ></ion-input>

    <ion-label stacked>Stock</ion-label>
    <ion-input formControlName="stock" type="text" ></ion-input>

    <div *ngIf="product.stock <= product.low_stock_threshold">
      <h4>Commande</h4>
      <ion-label stacked>Nombre</ion-label>
      <ion-input formControlName="quantityOrder" type="number" step="0.01"></ion-input>
      <ion-label stacked>Choisissez fournisseur en cliquant sur le nom</ion-label>
    </div>
  </form>
  <div *ngIf="productForm.dirty">
    <button ion-button (click)="save()">Save</button>
    <button ion-button (click)="cancel()">Cancel</button>
  </div>
  
  <h4>Fournisseur</h4>
  <ion-list *ngIf="product.suppliers.length > 0">
    <ion-item *ngFor="let supplier of product.suppliers" (click)="chooseSupplierOrder(supplier)">
      {{ supplier.firstName }} {{ supplier.lastName}}
    </ion-item>
  </ion-list>
  <p *ngIf="product.suppliers.length == 0">Aucun fournisseur</p>
</ion-content>
